* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Sezione header */
header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 35%;
    height: 15vh;
}

#logo {
    display: flex;
}

header h1 {
    width: 69%;
    padding-top: 10%;
}

button {
    padding: 5px 30px;
    margin-top: 35px;
    margin-right: 70px;
}

/* Sezione container */

.container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    margin: 2% 13%;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1389B2;
    width: 105px;
    height: 105px;
    margin-top: 20px;
    font-size: 24px;
    color: white;
    color: black;

}

.clicked {
    background-color: green;
}


/* Sezione Footer */

footer {
    height: 10vh;
    width: 100%;
    padding: 25px 0 0 25px;

}